body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;font-size:66.3%}
fieldset,img{border:0;}
ul,ol{list-style:none;}
table{border-collapse:collapse;border-spacing:0;}
a{text-decoration: none;color:#000;}
a:hover{text-decoration: underline;color:#000;}
small{font-size:12px;}
h1,h2,h3,h4,h5,h6,button,input,select,textarea{font-size:100%;}
label,input,select,form img,button,textarea{vertical-align:middle;outline:none}
address,caption,cite,code,dfn,em,strong,th,optgroup{font-style:normal;font-weight:normal;}
.clear:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clear{display:inline-block;}
/* Hides from IE-mac \*/
* html .clear{height:1%;}
.clear{display:block;}
/* End hide from IE-mac */

html,body{height:100%;}
body{font:12px "Microsoft YaHei","微软雅黑",sans-serif; background: #000;}
a:hover{text-decoration:none;}

.loading {
position: relative;
display: block;
width: 100%;
height: 100%;
background: #000;
}
.loading p{
position: relative;
top: 158px;
text-align: center;
color: #fff;
font-size: 40px;
font-family: '微软雅黑';
}
.animate .part2{
position: absolute;
width: 640px;
background: #d9bc92 url(../images/bg.jpg) no-repeat;
background-size: cover;
display: block;
height: 100%;
overflow: hidden;
}
.animate .part2 img:nth-child(1),.animate .part2 img:nth-child(2),.animate .part2 img:nth-child(3) {
opacity:0
}
.animate .part2 img:nth-child(1){
margin-top: 60px;

}

.animate .part3{
position: absolute;
width: 100%;
height: 100%;
background: url(../images/p3_bg.jpg) repeat;
background-size: cover;
display: block;
}
.category {
position: relative;
width: 100%;
height: 100%;
background: #000 url(../images/category.jpg) no-repeat;
background-size: 100%;
display: block;
min-height: 1008px;
}
.animate .part3 a {
position: relative;
width: 260px;
height: 70px;
display: block;
margin: 0 auto;
top: 58px;
}

p.year {
    position: absolute;
    top: 325px;
    font: 60px '微软雅黑';
    text-align: center;
    width: 234px;
    color: #fff;
    letter-spacing: 3px;
    left: 205px;
}
.year em{
    width: 153px;
    position: relative;
    display: block;
    float: left;
}
a.apply1 {
position: relative;
width: 216px;
height: 52px;
display: block;
float: right;
right: 21px;
top: 23px;
background: transparent;
}

a.catest,a.catesec,a.catethird {
position: relative;
width: 640px;
height: 251px;
display: block;
top: 252px;
}

.sub_category {
position: relative;
width: 640px;
height: 100%;
display: block;
min-height: 1008px;
}
.sub1{
background: #000 url(../images/sub1.jpg) no-repeat;
background-size: 100%;
}
.sub2{
background: #000 url(../images/sub2.jpg) no-repeat;
background-size: 100%;
}
.sub3{
background: #000 url(../images/sub3.jpg) no-repeat;
background-size: 100%;
}
a.back {
width: 145px;
position: relative;
height: 50px;
display: block;
top: 24px;
}

.sub1 a.btn1,.sub2 a.btn1  {
position: absolute;
width: 305px;
height: 500px;
left: 9px;
top: 499px;
}

.sub1 a.btn2,.sub2 a.btn2 {
position: absolute;
width: 305px;
height: 250px;
right: 9px;
top: 499px;
}

.sub1 a.btn3,.sub2 a.btn3 {
position: absolute;
width: 305px;
height: 250px;
right: 9px;
top: 753px;
}
.result{
position: relative;
width: 640px;
}
.sub3 a.btn1 {
position: absolute;
width: 305px;
height: 500px;
left: 9px;
top: 249px;
}

.sub3 a.btn2 {
position: absolute;
width: 305px;
height: 250px;
right: 9px;
top: 249px;
}

.sub3 a.btn3 {
position: absolute;
width: 305px;
height: 250px;
right: 9px;
top: 503px;
}

.card {
position: relative;
width: 577px;
margin: 0 auto;
top: 30px;
}
.self_info {
position: absolute;
top: 727px;
right: 15px;
width: 95%;
}
.self_info img{
float: right;
}

.self_info span {
float: right;
height: 67px;
right: 20px;
text-align: right;
font: 25px/96px '微软雅黑';
border-bottom: 2px solid;
position: relative;
}
.card a{
top: 38px;
position: relative;
width: 330px;
height: 75px;
display: block;
margin: 0 auto 30px;
}

.overlay {
position: absolute;
top: 0;
width: 100%;
height: 100%;
background: rgba(0,0,0,0.8);
min-height: 1008px;
}

.setinfo,.backResult {
position: relative;
width: 550px;
height: 670px;
background: url(../images/popbg.png) no-repeat;
background-size: 100%;
display: block;
margin: 0 auto;
top: 93px;
}

a.close {
position: absolute;
width: 60px;
height: 60px;
display: block;
right: 19px;
top: 16px;
overflow: hidden;
text-indent: -99px;
}

input[type="text"] {
position: relative;
width: 425px;
height: 55px;
background: url(../images/inputbg.png) no-repeat;
background-size: 100%;
display: block;
border: none;
font: 27px/55px '微软雅黑';
padding-left: 10px;
}
.select {
position: relative;
width: 425px;
height: 55px;
background: url(../images/selectbg.png) no-repeat;
background-size: 100%;
display: block;
margin-top: 30px;
font: 27px/55px '微软雅黑';
padding-left: 10px;
}
.select a{
width: 261px;
margin: 0 auto;
position: relative;
top: 45px;
display: block;
}



form {
width: 435px;
position: relative;
margin: 0 auto;
top: 30px;
}

select {
position: absolute;
width: 435px;
left: 0;
height: 55px;
font: 27px/55px '微软雅黑';
display: block;
top: 0;
opacity: 0;
}

.getprize {
background: #fbefe3 url(../images/infogp_bg.jpg) no-repeat!important;
background-size: 100%;
}

.getprize,.setback{
position: relative;
width: 100%;
height: 100%;
background: #fbefe3 url(../images/info_bg.jpg) no-repeat;
background-size: 100%;
display: block;
min-height: 1008px;
}

form a,.setback a{
top: 50px;
position: relative;
width: 261px;
height: 67px;
display: block;
margin: 0 auto;
}
.setback a{
top: 25px;
}
.getprize form{
top: 630px;
}
.animate{
position: relative;
width: 100%;
height: 100%;
}


.p1_on{-webkit-animation:imgp1 1s ease-out;-moz-animation:imgp1 1s ease-out 1 ;-o-transform:imgp1 1s ease-out 1 ;animation:imgp1 1s ease-out 1 ;opacity:1!important}
@-webkit-keyframes imgp1{
    
    100%{-webkit-transform: translate(0,0);opacity:1}
    0%{-webkit-transform: translate(-150px,0);opacity:0}
}

@-moz-keyframes imgp1{
 100%{-moz-transform: translate(0,0);opacity:1}
    0%{-moz-transform: translate(-150px,0);opacity:0}
}

@-o-keyframes imgp1{
 100%{-o-transform:  translate(0,0);opacity:1}
    0%{-o-transform: translate(-150px,0);opacity:0}
}

@keyframes imgp1{
    100%{transform:  translate(0,0);opacity:1}
    0%{transform: translate(-150px,0);opacity:0}
}

.p2_on{-webkit-animation:imgp2 1s ease-out;-moz-animation:imgp2 1s ease-out 1 ;-o-transform:imgp2 1s ease-out 1 ;animation:imgp2 1s ease-out 1 ;opacity:1!important}
@-webkit-keyframes imgp2{
    
    100%{-webkit-transform: translate(0,0);opacity:1}
    0%{-webkit-transform: translate(150px,0);opacity:0}
}

@-moz-keyframes imgp2{
 100%{-moz-transform: translate(0,0);opacity:1}
    0%{-moz-transform: translate(150px,0);opacity:0}
}

@-o-keyframes imgp2{
 100%{-o-transform:  translate(0,0);opacity:1}
    0%{-o-transform: translate(150px,0);opacity:0}
}

@keyframes imgp2{
    100%{transform:  translate(0,0);opacity:1}
    0%{transform: translate(150px,0);opacity:0}
}

img.p3cp1,img.p3cp2,img.p3cp0 {
position: absolute;
top: 0;
}
.part0 {
position: relative;
width: 100%;
height: 100%;
display: block;
background: #000;
}
.part0 img:nth-child(1){
top: 0px;
position: absolute;
}
.part0 img:nth-child(2){
top: 282px;
position: absolute;
}
.part0 img:nth-child(3){
top: 85%;
position: absolute;
}
.part1 {
position: absolute;
width: 100%;
height: 100%;
background: #aa816b;
}

.popup2 span{
    position: absolute;
    width: 100%;
    display: block;
    text-align: center;
    font: 30px/38px '微软雅黑';
    top: 50px;
}

.qrcode{
position: relative;
margin: 0px auto;
width: 218px;
display: block;
z-index: 10;
top: 395px;
}

.share{
position: absolute;
width: 261px;
height: 67px;
display: block;
margin: 0 auto;
bottom: 40px;
left: 144.5px;
}
.page {
position: absolute;
top: 0;
z-index: 0;
}

.mask{
position: absolute;
top: 0;
left: 0;
height: 635px;
overflow: hidden;
}


