body
{
	margin: 0;
	padding: 0;
	color: #333;
	font: normal 12px "微软雅黑",Arial,Helvetica,sans-serif;
	background: #EFEFEF;
}

#page
{
	margin-top: 5px;
	margin-bottom: 5px;
	background: white;
	border: 1px solid #C9E0ED;
	width:75%;
	min-width:1100px;
	padding:20px;
}

#header
{  
	padding: 0px;
  border-bottom: 1px solid #C9E0ED;
  padding:20px 0;
}
#header h1{
	float:left;
	line-height:50px;
	font-size:30px;
	color:#0066A4;
	margin-bottom:0px;
	}
#header .top-menus
{
	margin: 20px 0px;
	float: right;
}
#content
{
}

#sidebar
{
	padding:10px 0;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
}

#mainmenu
{
	background:white url(bg.gif) repeat-x left top;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	padding: 5px 0;
	overflow:hidden;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
	overflow:hidden;
	float:right;
}

.portlet-content li
{
	float:right;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: normal 12px "微软雅黑",Arial;
	color: #0066A4;
	display: block;
	padding: 8px 15px;
	line-height: 15px;
	background:#EFFDFF;
	margin-right:1px;
	text-decoration: none;
	transition:all 1s;
	-moz-transition: all 1s; /* Firefox 4 */
	-webkit-transition: all 1s; /* Safari 和 Chrome */
	-o-transition: all 1s; /* Opera */
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}

.container{
	background-color:#fff;
	}
/* input */
input[type="text"],input[type="password"] ,div.form select{
	border:solid 1px #ccc;
	border-radius:3px;
	}
input[type="text"]:focus ,input[type="password"]:focus{
	background: #ECFBD4;
	transition:all 0.5s;
	-moz-transition: all 0.5s; /* Firefox 4 */
	-webkit-transition: all 0.5s; /* Safari 和 Chrome */
	-o-transition: all 0.5s; /* Opera */
	}
div.form input{
	padding:10px;
	}
div.form select{
	padding:10px;
	}
h1{
	font-size:20px;
	line-height:40px;
	color:#0066A4;
	}
.login-title{
	}
.top-menus a{
	}
a.admin-name{
	display:inline-block;
	text-decoration:none;
	padding:2px 5px;
	color:#fff;
	border-radius:2px;
	background-color:#C00;
	}
/* table */
.grid-view table.items th{
	padding:15px 0 !important;
	background-color:#0066A4 !important;
	background-image:none !important;
	color:#fff;
	}
.grid-view table.items th, .grid-view table.items td {
	text-align:center !important;
}
.grid-view table.items tr.even {
  background: #fff !important;
}
table.detail-view th, table.detail-view td
{
	font-size: 0.9em;
	border: 1px white solid;
	padding: 0.6em 0.6em !important;
	vertical-align: top;
}

table.detail-view tr.even
{
	background:#fff !important;
}

div.form .row {
  margin: 5px 0;
  overflow:hidden;
  
}
div.form .note {
	padding-left:110px;
  
}
div.form .buttons{
	padding-left:110px;
	}
div.form .row label{
	width:100px;
	padding-right:10px;
	text-align:right;
	}
div.form .row label,div.form input{
	display:inline-block;
}

.footer{
	text-align:center;
	}
	
#login-form{
	width:300px;
	margin:0 auto;
	}
#login-form h1{
	text-align:center;
	}
#login-form .row{
	position: relative; margin-top: 20px;
	}
#login-form label{
	display:initial;
	width:56px;
	position:absolute; color: #333; top:12px; left: 15px; cursor: text;
	}
#login-form .buttons{
	padding-left:0px;
	text-align:center;
	}
#login-form input[type="text"] , #login-form input[type="password"] {
	
    width: 100%;
    margin: 0;
    padding: 11px 15px 11px 75px;
    border: 1px solid #bebebe;
    color: #666;
    box-sizing: border-box;
    font-size: 14px;
}
#login-form input[type="submit"]{
	    width: 100px;
    height: 36px;
    border: 0;
    font-size: 14px;
    background-color: #555;
    color: #fff;
    cursor: pointer;
	}